<!DOCTYPE html>
{% extends 'layout.html' %} {% block content %}

<div class="container">
  <div style="margin-top: 45px">
    <!-- You can add 'target="_blank"' to the following <a> tag to open 'Create New Department' in a new tab -->
    <a href="/staff/create/modelform/" class="btn btn-success">
      <i class="bi bi-plus-circle"></i>
      Create New Staff
    </a>
  </div>

  <div>
    <div class="card" style="margin-top: 10px">
      <!-- Panel heading equivalent -->
      <div class="card-header" style="font-weight: bolder">
        <i class="bi bi-card-list"></i>
        Staff List
      </div>

      <!-- Table content -->
      <div class="card-body p-0">
        <table class="table table-hover mb-0">
          <thead style="text-align: center">
            <tr>
              {% for verbose_name in fields %}
              <th scope="col">{{ verbose_name }}</th>
              {% endfor %}
              <th scope="col">Operations</th>
            </tr>
          </thead>
          <tbody style="text-align: center">
            {% for obj in queryset %}
            <tr>
              <th scope="row">{{ obj.id }}</th>
              <td>{{ obj.name }}</td>
              <td>{{ obj.age }}</td>
              <!-- Python Grammar: obj.get_gender_display() -->
              <td>{{ obj.get_gender_display }}</td>
              <!-- Django will add '()' for you automatically -->
              <td>{{ obj.salary }}</td>
              <!-- Python Grammar: obj.joining_date.strftime("%Y-%m-%d") -->
              <td>{{ obj.joining_date|date:"d-m-Y" }}</td>
              <td>{{ obj.department.name }}</td>
              <td>{{ obj.get_is_registered_display }}</td>
              <td>
                <a
                  href="/staff/{{ obj.id }}/edit/"
                  class="btn btn-primary btn-xs"
                >
                  <i class="bi bi-pencil-square"></i>
                  Edit
                </a>

                <a
                  href="/staff/{{ obj.id }}/delete/"
                  class="btn btn-danger btn-xs"
                >
                  <i class="bi bi-trash"></i>
                  Delete
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div
    class="pagination-container"
    style="display: flex; justify-content: center; margin-top: 5px"
  >
    <nav
      aria-label="..."
      style="display: inline-flex; align-items: center; gap: 10px"
    >
      <ul class="pagination mt-3 pagination-sm">
        {{ page_string }}
      </ul>
    </nav>
  </div>
</div>

{% endblock content %}
